<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="col-md-4" style="max-width: 400px;">
    <h2 class="text-center mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data: { controller: :location }, html: { class: "needs-validation", novalidate: true, }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email address", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Password", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Confirm Password", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :address, class: 'form-label' %>
        <%= f.text_field :address, class: 'form-control', placeholder: "Address" %>
      </div>

      <div class="mb-3">
        <%= f.label :address_region_id, class: 'form-label' %>
        <%= f.collection_select :address_region_id,
                                Address::Region.all, :id, :name,
                                { prompt: 'Please select region' },
                                data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' },
                                class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :address_province_id, class: 'form-label' %>
        <%= f.collection_select :address_province_id,
                                [], nil, nil,
                                { prompt: 'Please select province' },
                                data: { location_target: 'selectProvinceId' },
                                class: 'form-control' %>
      </div>

      <div class="d-grid mt-3">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <span>Already have an account?</span>
      <%= link_to 'Log in', new_session_path(resource_name), class: "btn btn-link" %>
    </div>
  </div>
</div>
