<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Title, style: "display: block" %>
    <%= form.text_field :Title %>
  </div>

  <div>
    <%= form.label :Blurb, style: "display: block" %>
    <%= form.text_area :Blurb %>
  </div>

  <div>
    <%= form.label :date_released, style: "display: block" %>
    <%= form.datetime_field :date_released %>
  </div>

  <div>
    <%= form.label :country_of_origin, style: "display: block" %>
    <%= form.text_field :country_of_origin %>
  </div>

  <div>
    <%= form.label :showing_start, style: "display: block" %>
    <%= form.datetime_field :showing_start %>
  </div>

  <div>
    <%= form.label :showing_end, style: "display: block" %>
    <%= form.datetime_field :showing_end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
