<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Blurb:</strong>
    <%= movie.blurb %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= movie.genres.pluck(:name).join(',') %>
  </p>

  <p>
    <strong>Date released:</strong>
    <%= movie.date_released %>
  </p>

  <p>
    <strong>Country of origin:</strong>
    <%= movie.country_of_origin %>
  </p>

  <p>
    <strong>Showing start:</strong>
    <%= movie.showing_start %>
  </p>

  <p>
    <strong>Showing end:</strong>
    <%= movie.showing_end %>
  </p>

</div>
