<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %> |
      <%#= link_to "Edit this movie", edit_movie_path(movie) %>
      <%= link_to "Edit this movie", edit_movie_path(movie, page: params[:page],genre: params[:genre]), class: "text-decoration-none" %>
    </p>
  <% end %>

  <%= link_to "New movie", new_movie_path %>
  <div class="mt-4">
    <%= paginate @movies %>
  </div>
</div>