<%= form_with model: review, url: path, local: true do |form| %>
  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', rows: 3 %>
  </div>

  <% unless @review.new_record? %>
    <div class="form-group">
      <%= form.label :rating, class: 'form-label' %>
      <%= form.number_field :rating, value: @review.rating, class: 'form-control', step: 1, disabled: true %>
      <small>This rating cannot be changed.</small>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :rating, class: 'form-label' %>
      <%= form.number_field :rating, in: 1..5, class: 'form-control', step: 1 %>
    </div>
  <% end %>

  <div class="form-group pt-2">
    <%= form.submit @review.new_record? ? 'Submit Review' : 'Update Review', class: 'btn btn-primary' %>
  </div>
<% end %>